body {
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a, #2c2c2c);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  min-height: 100vh;
 

}

.selected_images{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: #0f0f0f solid 3px;
  border-radius: 5px;
  margin: 5px;
}




