
{% extends "costumerportal/layout.html" %}
{% load static %}
{% block title %}
    KRS Products
{% endblock title %}

{% block body %}
<div class="container my-5">
  <h2 class="text-center text-light mb-4">Products</h2>

  <div class="row">
    {% for product in products %}
    <div class="col-12 col-md-3 mb-4 mx-auto">
        <div class="card shadow-sm h-100" style="background-color: #2c2f33; color: white;">
            <img src="{{product.images.first.image.url}}" class="card-img-top image-cover" alt="error">
            <div class="card-body text-center">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description|truncatechars:60}}</p>
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <a href="{% url 'product' product.id %}" class="btn btn-dark fw-bold">Order Now</a>
                    <p class="fw-bold mb-0">{{product.price}} DZD</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock body %}