{% extends "costumerportal/layout.html" %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock title %}
{% block js %}
    <script src="{% static 'js/product.js' %}"></script>
{% endblock js %}

{% block body %}
<div class="container my-5">
  <div class="row">
    <!-- Carousel + Title + Description -->
    <div class="col-md-6">
      <!-- Carousel -->
      <div id="productCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for image in product.images.all %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ image.image.url }}" class="d-block w-100 custom-img" alt="Product Image">
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>

      <!-- Product Info -->
      <h2 class="mt-3">{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      
    </div>

    <!-- Order Form -->
    <div class="col-md-6">
      <h4 class="mb-4">Fill in your information below and click "Confirm Order"</h4>
      <h4 class="mt-3">
        {% if product.is_on_sale %}
          <span id="product_price" style="color: #28a745; font-size: 1.5rem; font-weight: bold;">
            {{ product.sale_price }} DZD
          </span>
          &emsp;
          <span style="color: #dc3545; font-size: 1.2rem;">
            <s>{{ product.price }} DZD</s>
          </span>
        {% else %}
          <span id="product_price" style="color: #007bff; font-size: 1.4rem; font-weight: bold;">
            {{ product.price }} DZD
          </span>
        {% endif %}
      </h4>
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Full Name</label>
          <input type="text" class="form-control" name="full_name" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Phone Number</label>
          <input type="text" class="form-control" name="phone" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Choose Wilaya</label>
          <select class="form-select" name="wilaya" id="wilaya" required>
            <option disabled selected value="">Select Wilaya</option>
            {% for w in wilayas %}
              <option value="{{ w.IDWilaya }},{{w.delivery_home}}">{{w.IDWilaya}}-{{ w.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Full Address</label>
          <input type="text" class="form-control" name="address" required>
        </div>
        <!-- size color others ... -->
        {% if sizes %}
          <div class="mb-3">
            <label class="form-label">Choose Size</label>
            <select class="form-select" name="size" id="size" required>
              <option disabled selected value="">Select Size</option>
              
              {% for size in sizes %}
                <option value="{{ size.title }},{{ size.price }}">{{ size.title }}--{{ size.price }} DZD</option>
              {% endfor %}
              
            </select>
          </div>
        {%endif%}
        <div class="row krs-card-group">
          {% for color in colors %}
            <div class="col-4 col-md-3 mt-3 mx-auto">
              <label class="krs-card-option">
                <input type="radio" name="krs-option"
                 value="{{ color.title }}" 
                 {% if forloop.first %}checked{%endif%}
                 required>
                <div class="krs-card-content">
                  <div class="krs-image-wrapper">
                    <img src="{{ color.image.url }}" alt="color image" class="krs-color-image">
                  </div>
                  <p class="krs-title"><strong>{{ color.title }}</strong></p>
                </div>
              </label>
            </div>
          {% endfor %}
        </div>

        <div class="mb-3 d-flex align-items-center gap-2 mt-3">
            <label class="form-label mb-0">quantity </label>
            <button type="button" class="btn btn-outline-secondary btn-sm" id="decrease">-</button>
            <input type="number" id="quantity" name="quantity" class="form-control text-center" style="width: 60px;" value="1" min="1">
            <button type="button" class="btn btn-outline-secondary btn-sm" id="increase">+</button>
        </div>

        <div class=" p-3">
          <h5>Order Summary</h5>
          <p>Product: <strong>{{product.name}}</strong></p>
          <p>Quantity: <strong><span id="quan">1</span> × <span id="quan-price"></span> DZD</strong></p>
          <p>Shipping Price: <strong><span id="shipping"></span></strong></p>
          <p>Total: <strong ><span id="total"></span> DZD</strong></p>
        </div>
      </div>
        
        
        

        <button type="submit" class="btn btn-success w-100 mt-3">Confirm Order</button>
      </form>
    </div>
  </div>
</div>



{% endblock body %}