{% extends "costumerportal/layout.html" %}
{% load static %}

{% block title %}
    Thank You
{% endblock title %}

{% block body %}
<div class="container my-5 text-light text-center">
    <h2 class="mb-4">Thank You for Your Order!</h2>
    <p class="lead">We appreciate your trust in KRS Store.</p>
    <p>Your order has been received and is being processed. You will receive a confirmation email shortly.</p>

    <div class="mt-5">
        <a href="{% url 'home' %}" class="btn btn-outline-light">Back to Home</a>
    </div>
</div>
{% endblock body %}
